@{
    ViewBag.Title = "Find";
}
@Styles.Render("~/Content/home")
@Styles.Render("~/Content/flight")
@Scripts.Render("~/bundles/flight")
@Scripts.Render("~/bundles/home")

<div class="theme-hero-area front">
    <div class="theme-hero-area-bg-wrap">
        <div class="theme-hero-area-bg theme-hero-area-bg-blur" style="background-image:url(/Content/images/big-ben-bridge-castle-city-460672_1500x800.jpg);"></div>
        <div class="theme-hero-area-mask theme-hero-area-mask-half"></div>
    </div>
    <div class="theme-hero-area-body">
        <div class="container">
            <div class="_pb-50 _pt-100 _pv-mob-50">
                <div class="theme-search-area _mob-h theme-search-area-white">
                    <div class="theme-search-area-header _mb-20">
                        <h1 class="theme-search-area-title theme-search-area-title-sm">282 Flights to Lodon</h1>
                    </div>
                    <div class="theme-search-area-form" id="hero-search-form">
                        <div class="row" data-gutter="0">
                            <div class="col-md-4-5 place">
                                <div class="row" data-gutter="0">
                                    <div class="col-md-6 ">
                                        <div class="div-data-gutter theme-search-area-section first theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border">
                                            <label class="theme-search-area-section-label _op-06">From</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                <select class="theme-search-area-section-input">
                                                    <option class="select-menu">Tan Son Nhat</option>
                                                    <option class="select-menu">2</option>
                                                    <option class="select-menu">3</option>
                                                    <option class="select-menu">4</option>
                                                    <option class="select-menu">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="div-data-gutter theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border">
                                            <label class="theme-search-area-section-label _op-06">To</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                                <select class="theme-search-area-section-input">
                                                    <option class="select-menu">Noi Bai</option>
                                                    <option class="select-menu">2</option>
                                                    <option class="select-menu">3</option>
                                                    <option class="select-menu">4</option>
                                                    <option class="select-menu">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6-5 time-place">
                                <div class="row" data-gutter="">
                                    <div class="col-md-4 checkin">
                                        <div class="div-data-gutter departure-date theme-search-area-section first theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border">
                                            <label class="theme-search-area-section-label _op-06">Departure Date</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                <input class="theme-search-area-section-input datePickerStart _mob-h" value="" type="text" placeholder="Departure Date" />
                                                <input class="theme-search-area-section-input _desk-h datePickerStart" value="" type="text" placeholder="Departure Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hide checkout">
                                        <div class="div-data-gutter theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border">
                                            <label class="theme-search-area-section-label _op-06">Return Date</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                <input class="theme-search-area-section-input datePickerEnd _mob-h" value="" type="text" placeholder="Return Date" />
                                                <input class="theme-search-area-section-input _desk-h datePickerEnd" value="" type="text" placeholder="Return Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 seatclass">
                                        <div class="div-data-gutter theme-search-area-section first theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border">
                                            <label class="theme-search-area-section-label _op-06">Seat Class</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-graph"></i>
                                                <select class="theme-search-area-section-input">
                                                    <option class="select-menu">Economy</option>
                                                    <option class="select-menu">2</option>
                                                    <option class="select-menu">3</option>
                                                    <option class="select-menu">4</option>
                                                    <option class="select-menu">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 passenger">
                                        <div class="div-data-gutter div-passenger theme-search-area-section theme-search-area-section-curved theme-search-area-section-sm theme-search-area-section-fade-white theme-search-area-section-no-border quantity-selector" data-increment="Passengers">
                                            <label class="theme-search-area-section-label _op-06">Passengers</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-people"></i>
                                                <input class="theme-search-area-section-input" value="1 Passenger" type="text" />
                                                <div class="quantity-selector-box" id="FlySearchPassengers">
                                                    <div class="quantity-selector-inner">
                                                        <p class="quantity-selector-title">Passengers</p>
                                                        <ul class="quantity-selector-controls">
                                                            <li class="quantity-selector-decrement">
                                                                <a href="#">&#45;</a>
                                                            </li>
                                                            <li class="quantity-selector-current">1</li>
                                                            <li class="quantity-selector-increment">
                                                                <a href="#">&#43;</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 ">
                                <button class="theme-search-area-submit _tt-uc theme-search-area-submit-curved theme-search-area-submit-sm theme-search-area-submit-no-border theme-search-area-submit-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="theme-search-area-options theme-search-area-options-center theme-search-area-options-dot-primary clearfix">
                        <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="flight-options" id="flight-option-1" checked />One Way
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="flight-options" id="flight-option-2" />Round Trip
                            </label>
                        </div>
                    </div>
                </div>
                <div class="theme-search-area-inline _desk-h theme-search-area-inline-white">
                    <h4 class="theme-search-area-inline-title">Lodon Flights</h4>
                    <p class="theme-search-area-inline-details">June 27 &rarr; July 02, 1 Passnger</p>
                    <a class="theme-search-area-inline-link magnific-inline" href="#searchEditModal">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                    <div class="magnific-popup magnific-popup-sm mfp-hide" id="searchEditModal">
                        <div class="theme-search-area theme-search-area-vert">
                            <div class="theme-search-area-header">
                                <h1 class="theme-search-area-title theme-search-area-title-sm">Edit your Search</h1>
                                <p class="theme-search-area-subtitle">Prices might be different from current results</p>
                            </div>
                            <div class="theme-search-area-form">
                                <div class="theme-search-area-options theme-search-area-options-center theme-search-area-options-dot-primary clearfix">
                                    <div class="btn-group theme-search-area-options-list" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="flight-options-mobile" id="flight-option-mobile-1" checked />One Way
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="flight-options-mobile" id="flight-option-mobile-2" />Round Trip
                                        </label>
                                    </div>
                                </div>
                                <div class="theme-search-area-section first theme-search-area-section-curved">
                                    <label class="theme-search-area-section-label">From</label>
                                    <div class="theme-search-area-section-inner">
                                        <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                        <select class="theme-search-area-section-input">
                                            <option class="select-menu">Tan Son Nhat</option>
                                            <option class="select-menu">2</option>
                                            <option class="select-menu">3</option>
                                            <option class="select-menu">4</option>
                                            <option class="select-menu">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="theme-search-area-section theme-search-area-section-curved">
                                    <label class="theme-search-area-section-label">To</label>
                                    <div class="theme-search-area-section-inner">
                                        <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                                        <select class="theme-search-area-section-input">
                                            <option class="select-menu">Noi Bai</option>
                                            <option class="select-menu">2</option>
                                            <option class="select-menu">3</option>
                                            <option class="select-menu">4</option>
                                            <option class="select-menu">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" data-gutter="10">
                                    <div class="col-md-6 ">
                                        <div class="theme-search-area-section theme-search-area-section-curved">
                                            <label class="theme-search-area-section-label">Departure Date</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                <input class="theme-search-area-section-input datePickerStart _mob-h" value="" type="text" placeholder="Departure Date" />
                                                <input class="theme-search-area-section-input _desk-h datePickerStart" value="" type="text" placeholder="Departure Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 hide checkout-mobile">
                                        <div class="theme-search-area-section theme-search-area-section-curved">
                                            <label class="theme-search-area-section-label">Return Date</label>
                                            <div class="theme-search-area-section-inner">
                                                <i class="theme-search-area-section-icon lin lin-calendar"></i>
                                                <input class="theme-search-area-section-input datePickerEnd _mob-h" value="" type="text" placeholder="Return Date" />
                                                <input class="theme-search-area-section-input _desk-h datePickerEnd" value="" type="text" placeholder="Return Date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-search-area-form">
                                    <div class="theme-search-area-section theme-search-area-section-curved">
                                        <label class="theme-search-area-section-label">Seat Class</label>
                                        <div class="theme-search-area-section-inner">
                                            <i class="theme-search-area-section-icon lin lin-graph"></i>
                                            <select class="theme-search-area-section-input">
                                                <option class="select-menu">Economy</option>
                                                <option class="select-menu">2</option>
                                                <option class="select-menu">3</option>
                                                <option class="select-menu">4</option>
                                                <option class="select-menu">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-search-area-section theme-search-area-section-curved quantity-selector" data-increment="Passengers">
                                    <label class="theme-search-area-section-label">Passengers</label>
                                    <div class="theme-search-area-section-inner">
                                        <i class="theme-search-area-section-icon lin lin-people"></i>
                                        <input class="theme-search-area-section-input" value="1 Passenger" type="text" />
                                        <div class="quantity-selector-box" id="mobile-FlySearchPassengers">
                                            <div class="quantity-selector-inner">
                                                <p class="quantity-selector-title">Passengers</p>
                                                <ul class="quantity-selector-controls">
                                                    <li class="quantity-selector-decrement">
                                                        <a href="#">&#45;</a>
                                                    </li>
                                                    <li class="quantity-selector-current">1</li>
                                                    <li class="quantity-selector-increment">
                                                        <a href="#">&#43;</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="theme-search-area-submit _mt-0 _tt-uc theme-search-area-submit-curved">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="theme-page-section theme-page-section-gray">
    <div class="container">
        <div class="row row-col-static resultDiv" id="sticky-parent" data-gutter="20">
            <div class="row loadingbar">
                <div class="col-md-12">
                    <div class="progress blue">
                        <div class="progress-bar" style="width: 88%;">
                            <h3 class="progress-title">Searching</h3>
                            <div class="progress-value">88%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>