@{
    ViewBag.Title = "Forgot Password";
}

<div class="theme-page-section theme-page-section-xl theme-page-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="theme-login">
                    <div class="theme-login-header">
                        <h1 class="theme-login-title">Password Reset</h1>
                        <p class="theme-login-subtitle">Restore your forgotten password</p>
                    </div>
                    <div class="theme-login-box">
                        <div class="theme-login-box-inner">
                            <p class="theme-login-pwd-reset-text">Enter the username or email associated with your account in the field below and we'll email you a link to reset your password.</p>
                            <p class="msg-error"></p>
                            <p class="msg-success"></p>
                            <div class="form-group theme-login-form-group">
                                <input class="form-control" id="email" type="text" placeholder="User or Email Adress" onchange="checkInputText()" autofocus/>
                            </div>
                            <a class="btn btn-uc btn-dark btn-block btn-sm btn-reset" onclick="forgotPassword()">Reset Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>