@using EaseFlight.Models.EntityModels
@{
    ViewBag.Title = "Password Reset";
}
@model AccountModel
@Scripts.Render("~/bundles/account")

<div class="theme-page-section theme-page-section-xl theme-page-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="theme-login">
                    <div class="theme-login-header">
                        <h1 class="theme-login-title">Password Reset</h1>
                        <p class="theme-login-subtitle">Create your new password</p>
                    </div>
                    <div class="theme-login-box">
                        <div class="theme-login-box-inner">
                            <p class="msg-error"></p>
                            <div class="form-group theme-login-form-group">
                                <form id="resetForm">
                                    <input type="hidden" value="@Model.ID" name="Id"/>
                                    <input class="form-control _mb-5" name="password" type="password" placeholder="New Password" onchange="checkInputText()"/>
                                    <input class="form-control" name="repassword" type="password" placeholder="Confirm Password" onchange="checkInputText()"/>
                                </form>
                            </div>
                            <a class="btn btn-uc btn-dark btn-block btn-sm" onclick="resetPassword()">Update Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>