@using EaseFlight.Models.EntityModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var planes = (IEnumerable<PlaneAirportModel>)ViewData["planes"];
}

@foreach (var plane in planes)
{
    <h2>@plane.AirportID</h2>
    
    <h2>@plane.Plane.Airline</h2>
  
}

