.btn-create{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 5px;
}
.dataTables_filter{
    width: calc(100% - 40px);
}
.ready-status{
    color: steelblue;
}
.online-status{
    color: green;
}
.delay-status{
    color: brown;
}