* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 8%;
  padding-left: 40px;
}

.column2 {
  width: 12%;
}

.column3 {
  width: 12%;
}

.column4 {
  width: 12%;
}

.column5 {
  width: 15%;
}
.column6 {
    width: 12%;
}
.column7 {
    width: 12%;
}
.column8 {
    width: 10%;
}
.column9 {
    width: 7%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table100 {
  position: relative;
  padding-top: 33px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

.table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #fff;
  line-height: 1px;
  background-color: #333;
  font-weight: bold;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 5px;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

.table100.ver1 {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

.td-refund {
    display: none;
    width: 165px;
}
.td-status-width {
    width: 165px;
}
.ticket-history tr:hover .td-refund {
    display: block;
    cursor: pointer;
    color: steelblue;
}
.ticket-history tr:hover .td-status {
    display: none;
}
.passenger-modal{
    width: 1000px;
}
.passenger-modal .modal-body{
    padding: 0px !important;
}
.passenger-modal .modal-footer{
    padding: 4px !important;
}
.status-success{
    color: green;
}
.status-return{
    color: chocolate;
}
.lds-ellipsis div{
    background: black !important;
    width: 7px !important;
    height: 7px !important;
}
.theme-account-history table > thead > tr > th{
    padding: 12px !important;
}
.theme-search-results-item{
    border: 0px !important;
}
.flight-modal{
    width: 800px;
}
.cofirm-title {
    font-size: 16px;
    font-weight: bold;
}
.flight-modal .modal-header{
    padding: 7px 15px !important;
}
.flight-modal .modal-footer {
    padding: 0px 15px !important;
}